/* Responsive adjustments FOR MOBILE DEVICE */
@media (max-width: 768px) {
    #banner {
        display: none; /* Hide the desktop banner on mobile */
    }

    #bannermobile {
        color: #6df100;
        background-color: #000000;
        text-align: center;
        margin: 4px;
        padding: 0;
        border-radius: 20px;
    }

    #bannermobile a {
        text-decoration: none;
        color: #6df100;
        background-color: #000000;
        position: sticky;
    }

    #home-link {
        display: none; /* Hide the home link on mobile */
    }

    header {
        background-color: #000000;
        margin: 0;
        padding: 0;
    }

    html {
        background-color: #000000;
        margin: 0;
        padding: 0;
    }

    nav {
        align-items: center; /* Center them */
        position: static; /* Menu won't stick on mobile */
        margin-top: -15px;
    }

    nav ul {
        flex-direction: column; /* Ensure the menu items stack */
        padding: 0;
        margin: 0;
    }

    nav li {
        padding: 0;
        margin: 0; /* Add spacing between menu items */
    }

    .nav-links a:hover {
        padding: 10px 15px;
        color: #6df100;
    }

    .nav-links a {
        margin: -14px;
    }

    /* Dropdown menu styling */
    .dropdown-content a{
        background-color: rgba(0, 0, 0, 0.5);
    }

    .dropdown-content a:hover {
        background-color: rgba(0, 0, 0, 0.95);
    }

    #sample-projects p {
        text-align: center; /* Center email text */
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .custom-link {
        word-wrap: break-word;  /* Ensure long emails don't overflow */
    }

    .menu {
        flex-direction: column;
    }

    .menu a {
        padding: 10px;
    }

    .video {
        width: 65%;
        align-items: center;
    }

    #video-grid {
        width: 75%;
        align-items: center;
    }

    section ul, li, p, a {
        width: auto;
        align-items: center;
        text-align: center;
    }

    #facebook-icon {
        width: 80px; /* Increase size of icons */
        height: 80px;
    }

}